.fix-box {
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 1px white dotted;
    border-radius: 5px;
}

#master{
    border-radius: 5px;
    border: 2px white ridge;
    width: 100%;
    align-items: center;
    display: block
}

.subheading{
    color: white;
    text-align: center;
}

#children-wrapper{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
}
